nav{
    background: #0326A0;
    padding: 0;
    margin: 0;
    height: 80px;
    width: 100%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

label.logo{
    color: #F9F9F9;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold ;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height:  80px;
    margin: 0 5px;
}
nav ul li a{
    color: #F9F9F9;
    font-size: 15px ;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}
a.active, a:hover{
    background: #14ECF8;
    transition: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: #F9F9F9;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
#check{
    display: none;
}
@media (max-width: 900px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 17px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #032F90;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
       
    }
    nav ul li{
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #14ECF8;
    }
    #check:checked ~ ul{
        left: 0;
    }
}