h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: rgb(30, 228, 13);
    margin-top: 100px;
}
body{
    text-align: center;
    
}