{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail matkul</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Nama Mata Kuliah</th>
                <th>Nama Dosen</th>
                <th>Jumlah SKS</th>
                <th>Deskripsi Mata Kuliah</th>
                <th>Tahun Semester</th>
                <th>Ruang Kelas</th>
            </tr>
        </thead>
        <tbody>
            <td>{{ jadwal.nama }}</td>
            <td>{{ jadwal.dosen }}</td>
            <td>{{ jadwal.SKS }}</td>
            <td>{{ jadwal.deskripsi }}</td>
            <td>{{ jadwal.sem_tahun }}</td>
            <td>{{ jadwal.ruang_kelas }}</td>
        </tbody>
    </table>
</body>
</html>