<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jadwal matkul</title>
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        {{ formulir }}
        <input type="submit" value="Submit">
    </form>

    <table>
        <thead>
            <tr>
                <th>Nama Mata Kuliah</th>
            </tr>
        </thead>
        {% for i in jadwal %}
        <tbody>
            <td><a href="{% url 'story5:detail' pk=i.pk %}">{{ i.nama }}</a></td>
            <td> <a  href = "{% url 'story5:erase' pk=i.pk %}"><button class="btn btn-icon btn-danger" style="background-color: firebrick; color: white;">delete</button></a></td>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>