<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel = "stylesheet" href = "{% static 'main.css' %}">
    </head>
    <body id="bg4">
        {% include 'navmenu.html' %}
        <div class = "welcome_box" id="kotak">
            <div id="coming-soon">
                <h1>You're not supposed to be here</h1>
                <br><br><br><br>
                <h4>but hey! here's something for You</h4>
                <a href="https://www.youtube.com/watch?v=ewaWUKsJ1Mo&ab_channel=bokensha">
                    <img src="gift.svg" alt="" height="50px" width="50px">
                </a>
            </div>
    </body>
</html>