<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel = "stylesheet" href = "{% static 'main.css' %}">
    </head>
    <body id="bg3">
        {% include 'navmenu.html' %}
        <div class="Hobbies">
            <h1>Hobbies and Interests</h1>
        </div>
        <div class="hobby">
            <div class="gaming">
                <h2>gaming</h2>
            </div>
            <div class="reading">
                <h2>reading</h2>
            </div>
            <div class="memeing">
                <h2>memeing</h2>
            </div>
            <div class="anime">
                <h2>anime</h2>
            </div>
        </div>

        <div class="hobby">
            <div class="gaming">
                <h3>Suka main game karena game itu asik <br>
                Ini game yang sering saya mainkan<h3>
                <img src="{% static 'capsule_616x353.jpg' %}" alt="" width = "275px" height = "250px">
            </div>
            <div class="reading">
                <h3>Suka baca manga karena wibu</h3>
                <img src="{% static 'bakuman.jpg' %}" alt="" width = "275px" height = "250px">
            </div>
            <div class="memeing">
                <img src="{% static '1441938.jpg' %}" alt="" width = "275px" height = "325px">
            </div>
            <div class="anime">
                <h3>Alesannya sama ama reading <br>
                btw hiratsuka sensei best girl</h3>
                <img src="{% static 'hiratsuka sensei.jpg' %}" alt="" width = "275px" height = "250px">
            </div>
        </div>

        <button id = "button1" class="button">
            <a href="{% url 'story4:Profile' %}">
            <h2>Profile</h2>
            </a>
        </button>
        
        <button id="button2" class="button">
            <a href="{% url 'story4:index' %}">
            <h2>home</h2>
            </a>
        </button>

        <button id="comingsoon" class="button">
            <a href="{% url 'story4:comingsoon' %}">
                <h2>Coming soon</h2>
                </a>
        </button>

        <div class="sosmed">
            <div class="fb">
                <a href="https://www.facebook.com/muhammad.fahreza.33483/">
                <img src="{% static 'facebook.svg' %}" alt="" height="50px" width="50px">
                </a>
            </div>
            
            <div class="twit">
                <a href="">
                <img src="{% static 'twitter.svg' %}" alt="" height="50px" width="50px">
                </a>    
            </div>
            
            <div class="ig">
                <a href="instagram.com/r_reza00">
                <img src="{% static 'instagram.svg' %}" alt="" height="50px" width="50px">
                </a>
            </div>
            
            <div class="gitlab">
                <a href="https://gitlab.com/r_reza0">
                <img src="{% static 'logo.svg' %}" alt="" height="50px" width="50px">
                </a>
            </div>
            
        </div>
        <div id="credit">
            Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </div>
    </body>
</html>