<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel = "stylesheet" href = "{% static 'main.css' %}">
    </head>
    <body id = "bg1">
        {% include 'navmenu.html' %}
        <div class = "welcome_box">
            <div id="welcome-text">
                <h1>Welcome to the velvet room</h1>
            </div>
            <div id = "under">
                <p>currently under new management</p>
            </div>
        </div>
        <button id = "button1" class="button">
            <a href="{% url 'story4:Profile' %}">
            <h2>Profile</h2>
            </a>
        </button>
        
        <button id="button2" class="button">
            <a href="{% url 'story4:hobbies' %}">
            <h2>Hobbies</h2>
            </a>
        </button>

        <button id="comingsoon" class="button">
            <a href="{% url 'story4:comingsoon' %}">
                <h2>Coming soon</h2>
                </a>
        </button>

        <div class="sosmed">
            <div class="fb">
                <a href="https://www.facebook.com/muhammad.fahreza.33483/">
                <img src="{% static 'facebook.svg' %}" alt="" height="50px" width="50px">
                </a>
            </div>
            
            <div class="twit">
                <a href="">
                <img src="{% static 'twitter.svg' %}" alt="" height="50px" width="50px">
                </a>    
            </div>
            
            <div class="ig">
                <a href="instagram.com/r_reza00">
                <img src="{% static 'instagram.svg' %}" alt="" height="50px" width="50px">
                </a>
            </div>
            
            <div class="gitlab">
                <a href="https://gitlab.com/r_reza0">
                <img src="{% static 'logo.svg' %}" alt="" height="50px" width="50px">
                </a>
            </div>
            
        </div>
        <div id="credit">
            Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </div>
    </body>
</html>