{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset = "utf-8">
        <title>navmenu</title>
        <meta name="viewport" content="width-device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="{% static 'stylenav.css' %}"> 
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class= "logo">Projects</label>
            <ul>
                <li><a class = "active" href="{% url 'story4:story1' %}">Story-1</a></li>
                <li><a class = "active" href="https://www.figma.com/file/xO1sv3HCDGAeEo7qogUaWE/Story-2-Prototype?node-id=7%3A3">Story-2</a></li>
                <li><a class = "active" href="{% url 'story4:index' %}">Story-3</a></li>
            </ul>
        </nav>
    </body>
</html>