<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel = "stylesheet" href = "{% static 'main.css' %}">
    </head>
    <body id="bg2">
        {% include 'navmenu.html' %}
        <div id="profpic">
            <img src="{% static 'CN40.jpg' %}" alt="" width = "250px", height = "350px">
        </div>

        <div class="profilebox">
            <b><i>About Reza:</i></b>
            <br>
            <b><i>Education History:</i></b>
            <ul>
                <li>SDN 08 Jatisampurna (2007-2011)</li>
                <li>SDN 03 Pondok Rangon Jakarta (2011-2013)</li>
                <li>SMPN 230 Jakarta (2013-2016)</li>
                <li>SMAN 99 Jakarta (2016-2019)</li>
                <li>Universitas Indonesia (2019-now)</li>
            </ul>
                <b><i>Skills</i></b>
            <ul>
                <li>PR(Professional Retard)</li>
                <li>PS(Professional Slacker)</li>
            </ul>
            <i>Tetap tryhard walaupun retard</i>
        </div>
        <button id = "button1" class="button">
            <a href="{% url 'story4:index' %}">
            <h2>Home</h2>
            </a>
        </button>
        
        <button id="button2" class="button">
            <a href="{% url 'story4:hobbies' %}">
            <h2>Hobbies</h2>
            </a>
        </button>
    
        <button id="comingsoon" class="button">
            <a href="{% url 'story4:comingsoon' %}">
                <h2>Coming soon</h2>
                </a>
        </button>

        <div class="sosmed">
            <div class="fb">
                <a href="https://www.facebook.com/muhammad.fahreza.33483/">
                <img src="{% static 'facebook.svg' %}" alt="" height="50px" width="50px">
                </a>
            </div>
            
            <div class="twit">
                <a href="">
                <img src="{% static 'twitter.svg' %}" alt="" height="50px" width="50px">
                </a>    
            </div>
            
            <div class="ig">
                <a href="instagram.com/r_reza00">
                <img src="{% static 'instagram.svg' %}" alt="" height="50px" width="50px">
                </a>
            </div>
            
            <div class="gitlab">
                <a href="https://gitlab.com/r_reza0">
                <img src="{% static 'logo.svg' %}" alt="" height="50px" width="50px">
                </a>
            </div>
            
        </div>
        <div id="credit">
            Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </div>
    </body>
</html>